{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}
{% embed "includes/helper.html.twig" %}
    {% block helper_content %}
        Sur cette page, vous êtes invités à voter pour élire le meilleur assemblage. Que le meilleur gagne !
    {% endblock %}
{% endembed %}
<div class="iv-body-vote-page">
    <h1 class="iv-title">INO VIN Dégustation</h1>
    <h3 class="iv-sub-title">Je vote pour un assemblage</h3>

<section class="iv-container-vote mt-5">
    <div class="iv-container-vote-input iv-form-container">
        {{ form_start(voteForm) }}
                {% for value in votes %}
                {{ form_row(voteForm['vote_' ~ value.id], {'label': value.nameBlend },) }}


        {% endfor %}
        <button type="submit" class="my-4 iv-btn mx-auto">
            valider
        </button>


    </div>
    {{ form_end(voteForm) }}
</section>
    {% endblock %}
