{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="iv-title">INO VIN Dégustation</h1>
        <h2 class="iv-sub-title">Je vote pour un assemblage</h2>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('build/images/atelier.jpg') }}" class="d-block w-100" alt="vote assemblage">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/images/atelier.jpg') }}" class="d-block w-100" alt="vote assemblage">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/images/atelier.jpg') }}" class="d-block w-100" alt="vote assemblage">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
