{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}
    <h1 class="iv-title iv-title-workshop">INO VIN Dégustation</h1>
    <div class="iv-container-loader">
        <div class="loader">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="wineglass iv-loader-left">
                <div class="iv-loader-top"></div>
            </div>
            <div class="wineglass iv-loader-right">
                <div class="iv-loader-top"></div>
            </div>
        </div>
    </div>

{% endblock %}
