{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Vote assemblage{% endblock %}
{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Sur cette page, vous êtes invités à patienter en attendant que chacun ait voté pour son assemblage préféré.
        {% endblock %}
    {% endembed %}
    <h1 class="iv-title iv-title-workshop">INO VIN Dégustation</h1>
    <div class="iv-container-loader">
        <div class="loader">
            <ul class="iv-loader-ul">
                <li class="iv-loader-li"></li>
                <li class="iv-loader-li"></li>
                <li class="iv-loader-li"></li>
            </ul>
            <div class="wineglass iv-loader-left">
                <div class="iv-loader-top"></div>
            </div>
            <div class="wineglass iv-loader-right">
                <div class="iv-loader-top"></div>
            </div>
        </div>
    </div>

{% endblock %}
