{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <section class="iv-carousel">
        <a class="d-flex justify-content-center align-items-center" href="{{ path('app_welcome')  }}">
            <img class="iv-logo-accueil" src="{{ asset('build/images/logoinovin.f33bd3fc.png') }}" alt="">
        </a>
    </section>
{% endblock %}
