{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="iv-carousel">
        <h1 class="iv-title">INO VIN Dégustation</h1>
        <div class="iv-form-container-login">
          <div>
                <div id="carouselExampleCaptions" class="carousel slide m-auto;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <article class="iv-carousel_fond-app">
                                <div>
                                    <div class="iv-img-carousel">
                                        <img src="{{ asset('build/images/pexels-pixabay-290316-scaled.5f0d1da9.jpg') }}"
                                             alt="">
                                    </div>
                                    <div class="iv-block-carousel">
                                        <h2>Bienvenue à l’Atelier</h2>
                                        <hr>
                                        <ul class="iv-list-carousel">
                                            <li>2 heures pour créer ton vin</li>
                                            <li>4 cépages a tester</li>
                                            <li>1 assemblage par participant</li>
                                            <li>1 vote</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <div class="carousel-item">

                            <article class="iv-carousel_fond-app">
                                <div>
                                    <div class="iv-img-carousel">
                                        <img src="{{ asset('build/images/wine-6213011_1920.f9bf036e.jpg') }}" alt="">
                                    </div>
                                    <div class="iv-block-carousel">
                                        <h2>Navigation</h2>
                                        <hr>
                                        <ul class="iv-list-carousel">
                                            <li>Cliquez sur le logo en haut à gauche pour afficher le menu de
                                                navigation.
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <div class="carousel-item">
                            <article class="iv-carousel_fond-app">
                                <div>
                                    <div class="iv-img-carousel">
                                        <img src="{{ asset('build/images/deroulement.b66fbcec.jpg') }}" alt="">
                                    </div>
                                    <div class="iv-block-carousel">
                                        <h2>Déroulement</h2>
                                        <hr>
                                        <ul class="iv-list-carousel">
                                            <li>Connexion / création de mon compte</li>
                                            <li>Définition de mes goûts dans mon profil</li>
                                            <li>Dégustation de quatre cépages et notation</li>
                                            <li>1Atelier d'assemblage</li>
                                            <li>Vote pour le meilleur assemblage</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <a class="iv-connexionHref" href="{{ path("app_login") }}"><input class="iv-btn my-4 m-auto"
                                                                                  value="Connexion" type="submit"></a>

          </div>
        </div>


    </section>

{% endblock %}
