<h1>Bonjour {{ firstname }} !</h1>

<p>
    Vous venez de créer un compte sur Inovin Atelier. Avant de pouvoir accéder à l'atelier, vous devez vérifier que cette adresse e-mail est bien la vôtre en cliquant ici : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement, L'équipe Inovin
</p>
