{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1 class="iv-title">INO VIN Dégustation</h1>
<div class="request-form">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
        <h2 class="iv-center">Réinitialisez votre mot de passe</h2>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email,{'attr':{'class':'form form-control'}}) }}

        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button style="background-color: #B58654;" class="request-btn sm m-1">Envoyer un e-mail de réinitialisation du mot de passe</button>

    {{ form_end(requestForm) }}

</div>
{% endblock %}



