<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    <img class="iv-burger" src="{{ asset('build/images/logoinovin.f33bd3fc.png') }}" alt="Logo Link to menu">
</a>

<div class="offcanvas offcanvas-start pb-0 iv-nav-width" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header iv-nav-bg iv-nav-width">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body iv-nav-bg iv-center mt-0 iv-nav-width">
        <img class="iv-burger m-0" src="{{ asset('build/images/logoinovin.f33bd3fc.png') }}" alt="Logo Link to menu">
        <h2 class="iv-color mt-5">Accès atelier</h2>
        </ul>

        <div class="dropdown mt-5">
            <li class="nav-item dropdown iv-nav-ul">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <h2 class="iv-color mt-5 iv-inline">Mes dégustations</h2>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
            </li>
        </div>

        <div class="dropdown mt-5">
            <li class="nav-item dropdown iv-nav-ul">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <h2 class="iv-color mt-5 iv-inline">Mes assemblages</h2>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
            </li>
        </div>

        <div class="dropdown mt-5">
            <li class="nav-item dropdown iv-nav-ul">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <h2 class="iv-color mt-5 iv-inline">Mon profil</h2>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mes informations</a></li>
                    <li><a class="dropdown-item" href="#">Mes goûts</a></li>
                </ul>
            </li>
        </div>

        <h2 class="mt-5 dark-grey">Me déconnecter</h2>
        <p class="m-0 dark-grey">Mentions Légales</p>
        <p class="m-0 dark-grey">Politique de confidentialité</p>
    </div>
</div>
