<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">


        <div class="" id="navbarSupportedContent">


            <form class="d-flex" role="search">

                <label class="iv-container">Floral
                    <input type="checkbox" checked="">
                    <span class="iv-checkmark"></span>
                </label>


                <input class="iv-form-input form-control me-2" type="search" placeholder="Search..."
                       aria-label="Search">
                <input class="iv-btn" type="submit" value="Valider"></input>
            </form>
        </div>
    </div>
</nav>
