{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Vainqueur assemblage{% endblock %}
{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Sur cette page, vous connaissez l'assemblage gagnant préféré par les membres de l'atelier. Félicitations et à bientôt chez InoVin !
        {% endblock %}
    {% endembed %}

    <h1 class="iv-title">INO VIN Dégustation</h1>

    <h2>Résultats</h2>

    <p>Nombre de votants : {{ numberOfBlends }}</p>
    <p>Meilleur note : {{ highestScore.scoreWineblend }} </p>
    <p>Nom de l'assemblage avec la meilleure note : " {{ highestScore.nameBlend }} "</p>

    <button onclick="rafraichirPage()">Rafraichir</button>

    <script>
        function rafraichirPage() {
            location.reload();
        }
    </script>
{% endblock %}
