{% extends 'base.html.twig' %}
{% block title %}Vainqueur assemblage{% endblock %}
{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Rafraichissez cette page tant que le nombre de votants n'est pas égal aux nombre de participants
        {% endblock %}
    {% endembed %}

    <h1 class="iv-title">INO VIN Dégustation</h1>

    <h2 class="iv-sub-title">Résultats</h2>

    <div class="iv-text-winner d-flex flex-column align-items-center iv-form-container w-50 mx-auto p-3 mt-5 w-75">
        <h3 class="iv-title-font-family iv-color pb-2">Nombre de votants : {{ numberOfBlends }}</h3>
        <h6>Meilleure note : {{ highestScore.scoreWineblend }} </h6>
        <h6>Nom de l'assemblage avec la meilleure note : "&nbsp;{{ highestScore.nameBlend }}&nbsp;"</h6>
    </div>

    <div class="iv-container-loader">
        <div class="loader">
            <ul class="iv-loader-ul">
                <li class="iv-loader-li"></li>
                <li class="iv-loader-li"></li>
                <li class="iv-loader-li"></li>
            </ul>
            <div class="wineglass iv-loader-left">
                <div class="iv-loader-top"></div>
            </div>
            <div class="wineglass iv-loader-right">
                <div class="iv-loader-top"></div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="iv-btn mt-5" onclick="rafraichirPage()">Rafraichir</button>
    </div>
    <script>
        function rafraichirPage() {
            location.reload();
        }
    </script>
{% endblock %}
