.iv-btn-login {
    Border-radius: $iv-border-radius;
    Color: $iv-main-white;
    background: $iv-goldBM;
    font-family: $iv-title-font-family;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1.625rem;
    justify-content: center;
    width: 14.75rem;
    height: 2.125rem;
    margin-top: 50px;
}

.iv-form-container-login {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iv-form-container-register {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 430px) {

    .iv-form-container-login {
        height: calc(40vh + 10rem);
    }

    .iv-form-container-register {
        height: calc(60vh + 24rem);
    }
}

@media screen and (max-width: 322px) {
    .iv-322 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .iv-margin-top-322 {
        margin-top: 60px;
    }
    .iv-form-input {
        font-size: 15px;
        line-height: 20px;
    }
}
