.iv-btn {
    Border-radius: $iv-border-radius;
    Color: $iv-main-white;
    background: $iv-goldBM;
    font-family: $iv-title-font-family;
    border: none;
    font-size: 1.25rem;
    width: 18.75rem;
    height: 3.125rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1.625rem;
    justify-content: center;
}

@media screen and (max-width: 430px) {

    .iv-btn{
        width:14rem;
    }
}
