.iv-form-input {
    background: $iv-main-white;
    border: 1px solid $iv-goldBM;
    border-radius: $iv-border-radius;
    font-family: $iv-text-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;

    ::placeholder {
        padding-left: 10px;
    }
}

.iv-form-input-workshop {
    padding: 0.375rem 0.75rem;
}

#iv-form-container-register {
    width: 50%;
}

.iv-form-container-inputs {
    margin: 0 auto;
    width: 80%;
}

.iv-form-container-inputs * {
    margin-bottom: 0.3rem;
}

.iv-form-container-inputs .iv-btn {
    margin: 0.3rem auto;
}

.iv-form-checkbox-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.iv-form-checkmark {
    background: $iv-main-white;
    border: $iv-border-form;
    border-radius: $iv-border-radius;
    width: 30px;
    height: 30px;

}

.iv-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 47%;
}

.iv-container input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.iv-checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    background-color: $iv-main-white;
    border: $iv-border-form;
    border-radius: $iv-border-radius-check;
    height: 25px;
    width: 25px;

}

.iv-container input:checked ~ .iv-checkmark {
    background-color: $iv-taupe;
}

.iv-form-container {
    border: $iv-border-form;
    border-radius: $iv-border-radius;
    background-color: $iv-background-color;
}

.w-80 {
    width: 80%;
}

.iv-hidden-mediascreen{
    display: none;
}

@media screen and (max-width: 850px) {
    #iv-form-container-register{
        width: 75%;
    }
}

@media screen and (max-width: 430px) {

    #iv-form-container-register{
        width: 90%;
    }
    .iv-form-tel-gout {
        align-items: center;
        flex-direction: column;
    }
    .iv-form-tel-container-gout {
        flex-direction: column;
    }
    .iv-mx-0 {
        margin: 0 !important;
    }
    .iv-w-100 {
        width: 100%;
    }
    .iv-w-95 {
        width: 95% !important;
    }

    .iv-w-75 {
        width: 75%;
    }

    .iv-hidden-mediascreen{
        display: block;
    }

    .iv-s-text-mediascreen{
        font-size: 0.9rem !important;
    }
}
