/*accueil*/

.iv-form-container-welcome {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iv-logo-accueil {
    width: 30%;
    padding: 40px;
}

.carousel-inner {
    border-radius: 20px
}

.iv-carousel {
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.iv-widthFull {
    width: 75vw;
}

hr {
    border: 2px solid $iv-taupe;
    opacity: 1;
    width: 125%
}

.iv-carousel_fond-app > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    background-color: $iv-taupe;
    justify-content: space-between;

}

.iv-img-carousel {
    height: 55vh;
    overflow: hidden;
    position: relative;
    width: 48%;
    border-radius: 20px;
}

.iv-img-carousel img {
    position: absolute;
    right: -70px;
    min-width: 100%;
    height: 100vh;

}

.iv-block-carousel {
    height: 55vh;
    width: 48%;
    background-color: $iv-main-darkgrey;
    padding: 40px;
    color: $iv-taupe;
    border-radius: 20px;
}

.iv-list-carousel {
    list-style: none;
    margin: 0;
    padding: 0
}

.iv-carousel a {
    height: 100vh
}

.iv-list-carousel li {
    padding: 10px 5px;
    font-family: $iv-text-font-family;
    font-size: 1.3rem;
}

.iv-line-height-3 {
    line-height: 3rem;
}

.iv-line-height-2 {
    line-height: 2rem;
}

.carousel-control-next-icon {
    right: -65%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B58654'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


.carousel-control-prev-icon {
    left: -65%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B58654'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: $iv-goldBM;
    width: 2.5rem;
    height: 2.5rem;
    position: relative
}

.carousel-indicators [data-bs-target] {
    background-color: $iv-background-color;
    height: 7px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border-top: 0;
    border-bottom: 0;
}

.iv-connexionHref {
    text-decoration: none;
}
.iv-image-logo-slide {
    position: relative;
    width: 50px;
    left: 6px;
    height: 50px;
}

.iv-logo-slider2 {
    display: flex;
    border-radius: 50%;
    bottom: 0;
    left: 165px;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color:$iv-taupe ;
}

@media screen and (max-width: 768px) {
    .iv-img-carousel {
        display: none
    }
    .iv-block-carousel {
        width: 100%;
        margin-left: 0;
        max-height: max-content
    }

    .carousel-control-next-icon {
        right: -90%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4EDDB'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")

    }
    .carousel-control-prev-icon {
        left: -90%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4EDDB'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")

    }

}

@media screen and (max-width: 430px) {
    .iv-carousel {
        padding: 10px 10px 40px;
    }

    .carousel-control-next-icon {
        right: -4%;
    }
    .carousel-control-prev-icon {
        left: -4%;
    }

    .iv-block-carousel {
        padding: 20px;
        min-height: 325px;
        height: 325px;
        max-height: 360px;
    }

    .iv-list-carousel li {
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
    .iv-logo-accueil {
        width: 75%;

    }
    .iv-image-logo-slide {
        position: relative;
        width: 50px;
        left: 6px;
        height: 50px;
    }
    .iv-logo-slider2 {
        display: flex;
        border-radius: 50%;
        bottom: -25px;
        left: 119px;
        position: relative;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        background-color:$iv-taupe ;
    }
}
@media screen and (min-width:430px) and (max-width:768px){
    .iv-logo-slider2 {
        display: flex;
        border-radius: 50%;
        bottom: 30px;
        left: 340px;
        position: relative;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        background-color:$iv-taupe ;
    }
}
.iv-zoom2 {
    animation: scale2 7s linear infinite;
}

@keyframes scale2 {
    50% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1);
    }
}


