.iv-form-input-preVote {
    background: $iv-main-white;
    border: 1px solid $iv-goldBM;
    border-radius: $iv-border-radius;
    font-family: $iv-text-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iv-container-loader {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.iv-container-loader-preVote {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.loader {
    zoom: 200%
}

.iv-blink{
    animation: blink 4s infinite;
}
@keyframes blink {
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}

.iv-loader-preVote {
    zoom: 150%
}

.wineglass {
    height: 36px;
    position: relative;
}
.wineglass:after {
    content: '';
    position: absolute;
    top: 47px;
    left: 5px;
    width: 20px;
    height: 5px;
    background: $iv-main-white;
    box-shadow: 0 0 1px $iv-main-white;
}
.iv-loader-top {
    background: $iv-main-white;
    width: 30px;
    height: 36px;
    border-radius: 0 0 36px 36px;
    box-shadow: 0 0 1px $iv-main-white;
}
.iv-loader-top:before {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, #F36E3E 50%);
}
.iv-loader-left .iv-loader-top:before {
    animation: rotate2 2s linear infinite;
}
.iv-loader-right .iv-loader-top:before {
    animation: rotate1 2s linear infinite;
}
.iv-loader-top:after {
    content: '';
    position: absolute;
    top: 35px;
    left: 12px;
    width: 6px;
    height: 13px;
    background: $iv-main-white;
    box-shadow: 0 0 1px $iv-main-white;
}
.iv-loader-left {
    display: inline-block;
    margin-right: 10px;
    animation: rotate1 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
.iv-loader-right {
    display: inline-block;
    animation: rotate2 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
@keyframes rotate1{
    0% {transform: rotate(0deg);}
    50% {transform:rotate(22deg);}
}
@keyframes rotate2{
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-22deg);}
}
.iv-loader-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 25px;
    position: relative;
    opacity: 0;
    animation: 2s fadeInUp infinite linear 2s;
}
.iv-loader-li {
    width: 6px;
    height: 15px;
    background: $iv-main-white;
    position: absolute;
    box-shadow: 0 0 1px $iv-main-white;
    transform-origin: bottom;
}
.iv-loader-li:nth-child(1) {
    left: 26px;
    bottom: 5px;
    transform: rotate(-35deg);
}
.iv-loader-li:nth-child(2) {
    left: 34px;
    bottom: 8px;
}
.iv-loader-li:nth-child(3) {
    left: 42px;
    bottom: 5px;
    transform: rotate(35deg);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scaleY(1);
    }

    33% {
        opacity: 1;
        transform: scaleY(1.4);
    }
    64% {
        opacity: .1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(.3);
    }
}

/* cell phone max width portrait */
@media screen and (max-width: 430px) {
    .loader {
        zoom: 200%
    }
    .iv-loader-preVote {
        zoom: 120%
    }
    .iv-container-loader-preVote {
        height: 15vh;
    }

    .iv-blink{
        font-size: 18px;
    }
}
