.iv-burger {
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.offcanvas-start .iv-burger{position: relative;}

.iv-nav-bg {
    background-color: $iv-main-white;
}

.iv-nav-degustations {
    display: none;

}

.iv-nav-assemblages {
    display: none;
}

.iv-nav-profil {
    display: none;
}

.iv-center {
    text-align: center;
}

#offcanvasExample{
    width: 50vw;
}
.iv-nav-width {
    width: 50vw;
}

.iv-inline {
    display: inline;
}

.iv-nav-display-flex {
    display: flex;
    align-items: center;
}

.dropdown-toggle {
    color: $iv-goldBM !important;
}

.btn-close {
    color: $iv-goldBM;
}

.dark-grey {
    color: $iv-main-darkgrey;
}

.iv-zoom {
    animation: scale 2s linear infinite;
}

@keyframes scale {
    50% {
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
        transform:scale(1.2);
    }
}


/* cell phone max width portrait */
@media screen and (max-width: 430px) {
    .iv-nav-width {
        width: 100vw;
    }
    #offcanvasExample{
        width: 100vw;
    }
    .iv-burger {
        width: 50px;
    }
}
.accordion-button{
    display: block;
    background-color: $iv-main-white;
    border: none;
}
.accordion-button:not(.collapsed){
    color: $iv-goldBM;
    font-size: 2rem;
    background-color: $iv-main-white;
    border: none;
}
.fs-24{
    font-size: 2rem;
}
.accordion-item{
    border: none;
}
.accordion {
    --bs-accordion-bg: $iv-main-white;
    --bs-accordion-border-width: none;
}
.accordion-button:focus{
    border-color: $iv-main-white;
    box-shadow: none;
}
/* tablet max width portrait cell phone landscape 768 */


/* tablet max width landscape 1024 */
