.iv-burger {
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.iv-nav-bg {
    background-color: $iv-main-white;
}

.iv-nav-degustations {
    display: none;

}

.iv-nav-assemblages {
    display: none;
}

.iv-nav-profil {
    display: none;
}

.iv-center {
    text-align: center;
}

#offcanvasExample{
    width: 50vw;
}
.iv-nav-width {
    width: 50vw;
}

.iv-inline {
    display: inline;
}

.iv-nav-display-flex {
    display: flex;
    align-items: center;
}

.dropdown-toggle {
    color: $iv-goldBM !important;
}

.btn-close {
    color: $iv-goldBM;
}

.dark-grey {
    color: $iv-main-darkgrey;
}

/* cell phone max width portrait */
@media screen and (max-width: 430px) {
    .iv-nav-width {
        width: 100vw;
    }
    #offcanvasExample{
        width: 100vw;
    }
}

/* tablet max width portrait cell phone landscape 768 */


/* tablet max width landscape 1024 */
