.iv-blend-slider-container {
    display: grid;
    grid:
            "iv-blend-slider-liquid1 iv-blend-slider-liquid2 iv-blend-slider-liquid3 iv-blend-slider-liquid4" 1fr
            /1fr 1fr 1fr 1fr;
    margin-top: 3rem;

}

.iv-blend-explain {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.iv-blend-tube {
    position: relative;
    width: 100px;
    height: 300px;
    background-color: $iv-main-white;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    grid-area: tube;
    border: $iv-border-form;
}

.iv-blend-liquid {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: height 0.2s;
}

.iv-blend-liquid-red-wine {
    background: $iv-main-red-wine;
}

.iv-blend-liquid-white-wine {
    background: $iv-main-white-wine;
}

#iv-blend-liquid1 {
    height: 50%;
}

#iv-blend-liquid2 {
    height: 50%;
}

#iv-blend-liquid3 {
    height: 50%;
}

#iv-blend-liquid4 {
    height: 50%;
}

.iv-blend-slider {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 300px;
    -webkit-appearance: slider-vertical;
    grid-area: slider;
}

.iv-blend-label-cepage {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.iv-blend-label {
    grid-area: label;
    text-align: center;
}

.iv-blend-label span {
    font-family: $iv-text-font-family;
    font-size: 1.5rem;
    color: $iv-goldBM;
}

.iv-blend-slider-liquid {
    display: grid;
    width: fit-content;
    grid:
            "slider tube" 300px
            ". label" auto
            / 20px 100px;
    margin: auto;
}

#iv-blend-slider-liquid1 {
    grid-area: iv-blend-slider-liquid1;
}

#iv-blend-slider-liquid2 {
    grid-area: iv-blend-slider-liquid2;
}

#iv-blend-slider-liquid3 {
    grid-area: iv-blend-slider-liquid3;
}

#iv-blend-slider-liquid4 {
    grid-area: iv-blend-slider-liquid4;
}

.iv-blend-submit {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    gap: 1rem;
}

.iv-blend-name {
    width: 17rem;
    padding-left: 0.625rem;
}

@media screen and (max-width: 430px) {
    .iv-blend-explain {
        font-size: 1.25rem;
        padding: 10px;
    }

    .iv-blend-slider-container {
        grid:
        "iv-blend-slider-liquid1 iv-blend-slider-liquid2" 1fr
        "iv-blend-slider-liquid3 iv-blend-slider-liquid4" 1fr
        / 1fr 1fr
    }

    .iv-blend-slider-liquid {
        height: 70vh;
    }

    .iv-blend-submit {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .iv-blend-name {
        width: 15rem;
        height: 3rem;
    }

}
