.iv-border {
    border: $iv-border-form;
    border-radius: $iv-border-radius;
    width: 65vw
}
.w-40{
    width: 40%;
}
.w-35{
    width: 35%;
}
.w-30{
    width: 30%;
}
li{
    list-style-type: none;
}
.iv-font-title{
    font-family: $iv-title-font-family;
    color: $iv-goldBM;
    font-size: 1.7rem;
}
.iv-font-text{
    font-family: $iv-text-font-family;
    color: $iv-main-darkgrey;
    font-size: 21px;
}
.iv-bg{
    background-color: $iv-main-white;
}
.iv-font {
    color: $iv-main-darkgrey;

}
