.iv-tasting-cards {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

}

#wine1 {
    background: url("../../images/inovin-tasting1.jpg") no-repeat center center;
    background-size: 100% auto;
    background-position: center center;
    animation: shrink 1s ease-out;
}

@keyframes shrink {
    0% {
        background-size: 50% auto;
    }
    100% {
        background-size: 100% auto;
    }
}

.iv-tasting-cards ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 500px
}

ul li img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px $iv-taupe;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
}

ul li img:hover {
    zoom: 0.98;
    transition: 0.5s;
}
/* form tastingSheet */
.iv-form-tastingSheet > div{justify-content: flex-end; background-color :#F4EDDB;
}
#tasting_sheet_intensity, #tasting_sheet_clarity, #tasting_sheet_color {
    background: #FFFAF0;
    border: 1px solid #B58654;
    border-radius: 0.625rem;
    font-family: "Crimson Text", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
}
#tasting_sheet_intensity, #tasting_sheet_clarity{
    padding :5px 10px; margin: 5px auto
}
.iv-form-tastingSheet{max-width:80%}
.container-tastingSheet{width:30%}
.iv-form-check-tastingSheet {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 45%;
}
.iv-form-check-tastingSheet  input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/*camembert*/
pie-chart{width:150px; height:150px; margin :10px auto}

@media creen and (max-width: 1024px) {
    .iv-tasting-cards {
        width: 80%;
    }
}
