.iv-tasting-cards {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tastingheetWine1 {
    background: url("../../images/inovin-tasting1.jpg") no-repeat center center;

}

.tastingheetWine2 {
    background: url("../../images/inovin-tasting2.jpg") no-repeat center center;

}

.tastingheetWine3 {
    background: url("../../images/inovin-tasting3.jpg") no-repeat center center;

}

.tastingheetWine4 {
    background: url("../../images/inovin-tasting4.jpg") no-repeat center center;

}

.tastingheetWine1, .tastingheetWine2, .tastingheetWine3, .tastingheetWine4 {
    background-size: 100% auto;
    animation: shrink 1s ease-out;
}

@keyframes shrink {
    0% {
        background-size: 50% auto;
    }
    100% {
        background-size: 100% auto;
    }
}


#wine1 {
    background: url("../../images/inovin-tasting1.jpg") no-repeat center center;
    background-size: 100% auto;
    background-position: center center;
    animation: shrink 1s ease-out;
}

@keyframes shrink {
    0% {
        background-size: 50% auto;
    }
    100% {
        background-size: 100% auto;
    }
}


.iv-tasting-cards ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

ul li img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px $iv-taupe;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
}

ul li img:hover {
    zoom: 0.98;
    transition: 0.5s;
}

/* form tastingSheet */
.iv-form-tastingSheet > div {
    justify-content: flex-end;
    background-color: #F4EDDB;
}

#tasting_sheet_intensity,
#tasting_sheet_type1_intensity,
#tasting_sheet_type2_intensity,
#tasting_sheet_type3_intensity,
#tasting_sheet_type4_intensity,
#tasting_sheet_type1_clarity,
#tasting_sheet_type2_clarity,
#tasting_sheet_type3_clarity,
#tasting_sheet_type4_clarity,
#tasting_sheet_clarity,
#tasting_sheet_color,
.tasting_sheet_color,
.tasting_sheet_score {
    background: #FFFAF0;
    padding: 0 10px;
    border: 1px solid #B58654;
    border-radius: 0.625rem;
    font-family: $iv-title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.tasting_sheet_color {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
}

.iv-modal-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.tasting_sheet_score {
    padding: 6px 0 6px 15px;
    margin-right: 15px;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: center
}


#tasting_sheet_intensity, #tasting_sheet_clarity {
    padding: 5px 10px;
    margin: 5px auto
}

.iv-form-tastingSheet {
    max-width: 80%;
    margin: 0 auto
}

.container-tastingSheet {
    width: 30%
}

.iv-form-check-tastingSheet {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 45%;
}

.iv-form-check-tastingSheet input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*camembert*/
pie-chart {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    background-color: $iv-main-white;
    border-radius: 100px;
}

.iv-card-title{
    position: relative;
    top: -220px;
    right: -10px;
    font-family:$iv-title-font-family
}
.iv-bg-img{
    background-color: Black;
    opacity: 70%;
}

.iv-card-li{
    height: 250px
}

.iv-card-sub-title {
    font-family: $iv-title-font-family;
    color: #323232;
    font-size: 40px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem !important;
}
.modal-footer {
    border-top: none;
    padding-top: 0;
    padding-right: 24px;
    justify-content: space-between;
}
.modal-footer em { font-size: 1.4rem;margin-left:10px;margin-top: -8px; }
.modal-footer .iv-btn{width: 15.75rem;}

@media screen and (max-width: 1024px) {
    .iv-tasting-cards {
        width: 80%;
    }
}

@media screen and (max-width: 764px) {

    .iv-modal-body {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .container-tastingSheet {
        width: 100%;
    }
    .modal-footer {
        padding-right: 12px;
    }
    .tastingheetWine1, .tastingheetWine2, .tastingheetWine3, .tastingheetWine4 {
        background-size: 0; animation: none;
    }
    .iv-btn-tastingSheet{margin-left:auto; margin-right:auto;}
}
