.iv-tasting-cards{
    width:74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80VH;
}

#wine1{background:url("../../images/inovin-tasting1.jpg") no-repeat center center;
    background-size: 90% 90%;
    background-position: center center;
    animation: shrink 1s ease-out;}
@keyframes shrink {
    0% {
        background-size: 50% 50%;
    }
    100% {
        background-size: 90% 90%;
    }
}
.iv-btn-none{border: none;}

.iv-tasting-cards ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 500px
}

ul li img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px $iv-taupe;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
}

ul li img:hover {
    zoom: 0.98;
    transition: 0.5s;
}

