

$iv-main-white: #FFFAF0;
$iv-background-color: #F4EDDB;
$iv-main-darkgrey: #323232;
$iv-med-grey: #5e5b5b;
$iv-goldBM: #B58654;
$iv-taupe: #D3BDA5;
$iv-box-shadow: 6px 6px 15px $iv-taupe;
$iv-border-form: 2px solid $iv-goldBM;
$iv-border-radius: 0.625rem;
$iv-border-radius-check: 0.5rem;
$iv-text-font-size: 1.75rem;
/*$iv-mobile-text-font-size: 2rem;*/
$iv-text-font-family: 'Crimson Text', serif;
$iv-title-font-family: 'Playfair Display', serif;
$iv-title-size: 3.75rem;
$iv-mobile-title-font-size:2rem;
$iv-check-border: 2px solid $iv-goldBM;
$iv-check-background: $iv-main-white;
/*$iv-mobile-assembly-card-name-font-size: 20px;*/



* {
    box-sizing: border-box;
}

body {
    background-image: url('../../images/FeuilleDeVigneBnW.png');
    width: auto;
    background-repeat: no-repeat;
    background-position: top right;
}

.iv-title{
    font-family: $iv-title-font-family;
    color: $iv-goldBM;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    text-align: center;
}

.iv-sub-title {
    font-family: $iv-title-font-family;
    color: $iv-main-darkgrey;
    font-size: 40px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px !important;
}

.iv-color {
    color: $iv-goldBM;
}

.iv-dk-grey {
    color: $iv-main-darkgrey;
}

.iv-med-grey {
    color: $iv-med-grey;
}

h4, h2{
    font-family: $iv-text-font-family;
}
h4 {
    font-size: $iv-text-font-size;
}

p {
    color: $iv-main-darkgrey;
}
h1{
    margin:0;
    font-family: $iv-title-font-family;
}

.iv-link-navbar:link {
    color: $iv-goldBM;
    text-decoration: none;
}

.iv-link-navbar:visited {
    color: $iv-goldBM;
    text-decoration: none;
}

.iv-link-navbar:hover {
    color: $iv-goldBM;
    text-decoration: none;
}

.iv-text-decoration-none {
    text-decoration: none;
}

::placeholder {
    color: $iv-med-grey;
}

input[type="date" i] {
    color: $iv-med-grey;
}

@media screen and (max-width: 430px) {
    .iv-title{
        font-size: 25px;
    }
    .iv-sub-title {
        font-size: 22px;
        margin-bottom: 5px !important;
    }
}
