
.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 200px;
    height: 326px;
    text-align: justify;
    background-color: #D3BDA5;
    border-radius: 10px;
    padding: 12px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #000000;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    left: 200px;
    background-color:#F4EDDB;
}
#next{
    left: unset;
    right: 200px;
}
.iv-name-voter{
    background-color: #B58654;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.iv-vote-score{

    background-color:  #FFFAF0;
    border-radius: 0.625rem;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 5px;
}

.rounded-image{
    border-radius: 0.625rem;
}
.rounded-button {
    border: none;
    background-color: #FFFAF0;
}

.no-border {
    border: none;
}
.iv-btn-vote {
    Border-radius: $iv-border-radius;
    Color: $iv-main-white;
    background: $iv-goldBM;
    font-family: $iv-title-font-family;
    border: none;
    font-size: 1.25rem;
    width: 18.75rem;
    height: 3.125rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1.625rem;
    justify-content: center;
    text-decoration: none;
}
.btn-vote-position{
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.iv-slider-vote{
    width: 100%;
    height: 430px;
}
