
.iv-item-vote {
    width: 200px;
    text-align: justify;
    background-color: #D3BDA5;
    border-radius: 10px;
    padding: 12px;
    margin: 15px;
}

.iv-name-voter {
    background-color: #B58654;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #FFFAF0;
}

.iv-vote-score {

    background-color: #FFFAF0;
    border-radius: 0.625rem;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 5px;
}

.rounded-image {
    border-radius: 0.625rem;
}

.rounded-button {
    border: none;
    background-color: #FFFAF0;
}

.no-border {
    border: none;
}

.iv-btn-vote-position {
    display: flex;
    justify-content: center;
}

.iv-cards-vote-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-left: 100px;
}

.iv-container-vote-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;

}

.iv-container-vote-input {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
}

.iv-container-vote .form-control {
    background-color: rgba(181, 134, 84, 0);
    border-radius: 0.625rem;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    font-family: $iv-text-font-family;
    font-size: 1.2rem;
    color: #B58654;
}

.iv-container-vote label {
    font-weight: bold;
    font-family: $iv-text-font-family;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: $iv-goldBM
}

.iv-container-vote form > div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.form-control:focus {
    transform: scale(1.2);
    outline: none;
    box-shadow: 0 0 0 1px #b5865494;
    border-radius: 0.625rem;
    border: $iv-check-border;
    transition: 0.5s ease-in-out;
}

.iv-container-vote .form-control label {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 20px;
    background: $iv-main-white;
    cursor: pointer;
}

.iv-container-vote .form-control label:hover {
    background-color: $iv-taupe;
    color: #FFFAF0;
}

.iv-container-vote .form-control input[type="radio"]:checked + label {
    background-color: $iv-taupe;
    color: #FFFAF0;
}

.iv-container-vote .form-control input[type="radio"] {
    display: none
}


