body,
.content-header,
.sidebar {
    background-color: #F4EDDB;
}

td, a, h1, i, dd, dt,
dl.datalist,
.datagrid thead a,
.datagrid thead span,
.logo-custom,
#main-menu,
.menu,
.menu-item-label,
.menu-icon,
.menu,
.form-group label,
.list-pagination-counter,
.sorted a,
.sorted i,
.sorted {
    color: #B58654;
    box-shadow: none;
}

.main-header {
    font-family: "Playfair Display", serif;
}

#sidebar-resizer-handler {
    background-color: #B58654;
}

.datagrid thead th,
.content-top,
.datagrid thead .sorted{
    box-shadow: inset 0 -2px 0 #B58654;
}

#main-menu {
    color: #B58654;
}

.datagrid thead .sorted i,
.datagrid thead .sorted a,
.datagrid thead .sorted span
{
    color: #B58654;
    box-shadow: none;
}
