:root {
    --form-switch-checked-bg: #B58654;
    --form-type-check-input-checked-bg: #B58654;
    --sidebar-menu-active-item-color: #B58654;
    --pagination-active-bg: #B58654;
    --pagination-color: #B58654;
    --pagination-disabled-color: #B58654;
    --sidebar-menu-icon-color: #B58654;
    --button-color: #B58654;
    --button-primary-bg: #B58654;
    --button-primary-color: #FFFAF0;
    --sidebar-menu-active-item-bg: #FFFAF0;
    --user-avatar-icon-color: #B58654;
    --table-selected-cell-bg: #FFFAF0;
}


body,
.content-header,
.sidebar {
    background-color: #F4EDDB;
}

td, a, h1, i, dd, dt,
dl.datalist,
.datagrid thead a,
.datagrid thead span,
.logo-custom,
.menu-item-label,
.menu-icon,
.form-group label,
.list-pagination-counter,
.sorted a,
.sorted i,
.sorted,
.menu,
.submenu {
    color: #B58654;
    box-shadow: none;
}

.main-header {
    font-family: "Playfair Display", serif;
}

#sidebar-resizer-handler {
    background-color: #B58654;
}

.datagrid thead th,
.content-top,
.datagrid thead .sorted{
    box-shadow: inset 0 -2px 0 #B58654;
}

#main-menu {
    color: #B58654;
}

.datagrid thead .sorted i,
.datagrid thead .sorted a,
.datagrid thead .sorted span
{
    color: #B58654;
    box-shadow: none;
}

.logo-custom{
    font-size: 1.5rem;
}
