@import "~bootstrap";
@import "modules/main.scss";
@import "modules/variables.scss";
@import "modules/form.scss";
@import "modules/button.scss";
@import "modules/card.scss";
@import "modules/home.scss";
@import "modules/navbar.scss";
@import "modules/_login.scss";
@import "modules/atelier.scss";
@import "modules/request.scss";
@import "modules/check.scss";
@import "modules/reset.scss";
@import "modules/tastingSheet.scss";
@import "modules/show.scss";

body {
    background-color: $iv-background-color;
    margin: 0;
    padding: 0;
}
