{% extends 'base.html.twig' %}

{% block title %}Gout{% endblock %}

{% block body %}
    <h1 class="iv-title">INO VIN Dégustation</h1>
    <h2 class="text-center">Mes Goûts</h2>
    <div class="d-flex justify-content-center">
        <div class="iv-form-container py-3 my-1 w-75">
            <form class="d-flex align-items-center  " role="search" action="">
                <div class="col-4">
                    <h4 class="col-4 mx-5 iv-color">J'aime</h4>
                </div>
                <div class="col-8 d-flex">
                    <div class="">
                        <label class="iv-container fs-5"   >rouge
                            <input type="checkbox" checked="">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5"   >blanc
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="iv-form-container py-3 my-1 w-75">
            <form class="d-flex align-items-center flex-wrap" role="search"  action="">
                <div class="col-4">
                    <h4 class="col-4 mx-5 iv-color">Mes arômes préférés</h4>
                </div>
                <div class="col-8 d-flex flex-wrap">
                    <div>
                        <label class="iv-container fs-5"   >Floral
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container">Végétale
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5" >Fruité
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container  fs-5  " >Epicé
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Sucré
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Animal
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Chimique
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Boisée
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="iv-form-container py-3 my-1 w-75">
            <form class="d-flex align-items-center flex-wrap" role="search" action="">
                <div class="col-4">
                    <h4 class=" mx-5 iv-color">Mes régions préférées</h4>
                </div>
                <div class="col-8 d-flex flex-wrap">
                    <div>
                        <label class="iv-container fs-5"   >Val de Loire
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Sud-Ouest
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Bourgogne
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Provence-Corse
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Charentais
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Jura - Savoie
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Rhône
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Bordeaux
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Alsace - Loraine
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="iv-container fs-5 "   >Languedoc - Roussillon
                            <input type="checkbox" checked="checked">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
