{% extends 'base.html.twig' %}

{% block title %}Vos goûts{% endblock %}

{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Enregistrez vos préférences en matière de vin. Sélectionnez une ou plusieurs options, vous pourrez y revenir à n'importe quel moment. Parlez-nous de vous !
        {% endblock %}
    {% endembed %}
    <h1 class="iv-title">INO VIN Dégustation</h1>

    {{ include('gout/_form.html.twig', {'button_label': 'Valider'}) }}


{% endblock %}
